{% extends 'layout.html' %}
{% block content %}
    <nav class="d-flex justify-content-around align-items-center flex-row w-100 mt-3 mb-3">
        <h1 class="nav-item" title="Users list">Users</h1>
        <button class="btn btn-warning" type="button" onclick="showModal('refresh-modal')" title="Click to refresh">Refresh</button>
        <div class="modal justify-content-center align-items-center w-100" id="refresh-modal" tabindex="-1" role="dialog" style="display: none;">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header"><h5>Refresh</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="showModal('refresh-modal')"><span aria-hidden="true">&times;</span></button></div>
                    <div class="modal-body"><p>Are you really want to refresh?</p></div>
                    <div class="modal-footer"><form action="/refresh" method="POST"><button class="btn btn-danger mr-1" type="submit">Refresh</button><button class="btn btn-secondary ml-1" type="reset" onclick="showModal('refresh-modal')">Reset</button></form></div>
                </div>
            </div>
        </div>
    </nav>
    <div class="d-flex justify-content-center align-items-center ml-5 mr-5">
        <canvas id="users-chart" width="400" height="200"></canvas>
    </div>
    <div class="container mb-5">
        <div class="list-group ml-5 mr-5">
            {% for user in users %}
                <a href="/{{ user.user_name }}" class="list-group-item list-group-item-action flex-column align-items-start" title="Click to show user info">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <h5 title="Username">{{ user.user_name }}</h5>
                        <span class="badge badge-primary" title="Rating">{{ user.rating }}</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <small title="Rang">{{ user.rang }}</small>
                        {% if user.messages[0] != '' %}
                            <span class="badge badge-success" title="Messages count">{{ user.messages|length }}</span>
                            <span class="badge badge-warning" title="User rating" style="display: none;">{{ user.rating }}</span>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">
        function compare (a, b) {
            if (a.rating < b.rating) return -1;
            if (a.rating > b.rating) return 1;
            return 0;
        }
        function getUsersMessagesFromData (users) {
            var messages = [];
            users.forEach(user => messages.push(user.messages));
            return messages;
        }
        function getUsersRatingFromData (users) {
            var rating = [];
            users.forEach(user => rating.push(user.rating));
            return rating;
        }
        window.onload = () => {
            var ctx = document.getElementById('users-chart');
            var usersData = [];
            var messageCounters = document.getElementsByClassName('badge badge-success');
            var ratingCounters = document.getElementsByClassName('badge badge-warning');
            var messageCountersLength = messageCounters.length;
            for (var i = 0; i < messageCountersLength; i++) usersData.push({ rating: parseInt(ratingCounters[i].innerText), messages: parseInt(messageCounters[i].innerText) });
            usersData = usersData.sort(compare);
            console.log(usersData);
            var config = {
                type: 'line',
                data: { labels: getUsersRatingFromData(usersData), datasets: [{ label: 'Messages', data: getUsersMessagesFromData(usersData) }] },
                options: {
                    responsive: true,
                    title: { display: true, text: 'Users rating and messages count' },
                    tooltips: { mode: 'index', intersect: false },
                    hover: { mode: 'nearest', intersect: true },
                    scales: { xAxes: [{ display: true, scaleLabel: { display: true, labelString: 'Rating' } }],  yAxes: [{ display: true, scaleLabel: { display: true, labelString: 'Messages' } }] }
                }
            };
            var usersChart = new Chart(ctx, config);
        }
    </script>
{% endblock %}
